body {
  background-color: #c5cae9;
}

#projectsPage {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.project-cards {
  background-color: #3f51b5;
  margin-bottom: 15px;
}

nav {
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  width: auto;
}

#navLinks {
  display: flex;
  justify-content: space-between;
  width: 40%;
}

li {
}
