body {
  margin: 0;
  background-color: #f8f8f8;
}

li {
  list-style: none;
}

ul {
  padding: 0;
}

.main {
  display: flex;
  flex-flow: column;
}

.container {
  display: flex;
  margin: auto;
  border-radius: 15px;
  padding: 75px 0;
  max-width: 1200px;
  background-color: white;
  box-shadow: 10px 10px 15px rgba(0,0,0,.05);
}

.bio,
.technologies,
.projects {
  margin-bottom: 150px;
}

.content {
  padding: 0 75px;
  display: flex;
  box-sizing: border-box;
}

.content-info {
  display: flex;
  flex-flow: column;
  width: 525px;
}

.content-img {
  width: 525px;
}

.icon {
  width: 525px;
  height: 300px;
}

#projectsPage {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

#projectsPage h3 {
  background-color: grey;
}

.nav {
  position: sticky;
  top: 0;
  background-color: white;
  box-shadow: 10px 10px 15px rgba(0,0,0,.05);
  margin-bottom: 75px;
}

nav {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: auto;
  align-items: center;
}

footer {
  max-width: 1050px;
  margin: auto;
}

.footer {
  margin-bottom: 75px;
}

#navLinks {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

#navLinks a {
  display: inline-block;
  padding: 10px 15px;
  /* flex: 1; */
}


.typewriter {
  margin-right: auto;
  border-right: 2px solid rgba(0, 0, 0, .75);
  white-space: nowrap;
  overflow: hidden;   
}

/* Animation */
.typewriter {
  animation: 
    typewriter .5s steps(12) 1s 1 normal both,
    blinkTextCursor 500ms steps(12) 3 normal;
}

@keyframes typewriter{
  from{width: 0;}
  to{width: 139px;}
}

@keyframes blinkTextCursor{
  from{border-right-color: rgba(0, 0, 0,.75);}
  to{border-right-color: transparent;}
}

/* @media (min-width: 1200, 1024, ) */

@media (max-width: 1200px) {
  .container {
    width: calc( 100% - 30px);
    max-width: 100%;
  }

  .icon {
    width: 100%;
    height: auto;
  }
  
  .content-img {
    width: 50%;
  }

}

@media (max-width: 1080px) {

}