body {
  background-color: #111111;
}

.ConsoleAnimation {
  min-width: 175px;
  min-height: 136px;
}

.Intro {
  border-bottom: 3px solid #303F9F;
  background-image: url(https://i.imgur.com/n6GVFSw.png);
}

.intro-overlay {
  background: rgba($color: #111111, $alpha: 0.95);
}

.introduction-text-container,
.introduction-image-container {
  margin-top: 3rem;
}

.introduction-text-card,
.introduction-image-card {
  min-height: 500px;
  border-radius: 10px;
  background-color: #333333;
}

.introduction-heading {
  color: #303F9F;
  background-color: #222222;
  border-radius: 6px;
  padding: 0.5rem;
  left: -10%;
  top: 10%;
}

.intruduction-animation-1 {
  color: #303F9F;
  background-color: #222222;
  border-radius: 6px;
  padding: 0.5rem;
  right: -10%;
  top: 35%;
}

.intruduction-animation-2 {
  color: #303F9F;
  background-color: #222222;
  border-radius: 6px;
  padding: 0.5rem;
  left: -10%;
  bottom: 10%;
}

.introduction-image {
  border: 2px solid #222222;
  border-radius: 6px;
  padding: 0.5rem;
  top: 10%;
  right: -10%;
}

.bg-lightblue {
  background-color: #BDBDBD;
}

.bg-blue {
  background-color: #303F9F;
}

.text-darkblue {
  color: #303F9F;
}
.text-blue {
  color: #2196F3;
}
.text-lightblue {
  color: #BBDEFB;
}
.text-green {
  color: #4CAF50;
}
.text-lightgreen {
  color: #8BC34A;
}
.text-amber {
  color: #FFC107;
}
.text-red {
  color: #F44336;
}

.Project {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.cursor {
  width: 10px;
  height: 100%;
  display: inline-block;
  border-bottom: 3px solid white;
}

.icon-container {
  border: 2px solid white;
  border-radius: 7px;
}

.icon {
  width: 5rem;
  height: 5rem;
  border-radius: 6px;
}

@media (max-width: 576px) {
  //navbar animations
}
